<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >
<suite name="AAA">
    <listeners>
        <listener class-name="test.java.utils.AnnotationTransformer"/>
        <listener class-name="test.java.utils.TestListener"/>
    </listeners>
    <test name="A test">
        <classes>
            <class name="test.java.tests.ForPO"/>
            <class name="test.java.tests.Del"/>
        </classes>
    </test>
</suite>